<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title><%= pageTitle %></title>
  </head>
  <body
    class="bg-gradient-to-b from-white to-gray-100 min-h-screen flex flex-col"
  >
    <nav class="bg-red-600 text-white p-4 fixed top-0 left-0 w-full shadow-lg">
      <div class="flex items-center justify-between max-w-7xl mx-auto">
        <!-- Logo -->
        <a href="/" class="text-2xl font-bold">Airbnb</a>
        <div class="flex space-x-8">
          <!-- Home Link -->
          <a
            href="/"
            class="py-2 px-6 text-lg font-medium rounded-lg transition duration-300 ease-in-out <%= activeTab === 'home' ? 'text-white bg-red-500' : 'text-white hover:bg-red-700 hover:bg-opacity-50' %>"
          >
            Home
          </a>
          <!-- Add Home Link -->
          <a
            href="/host/add-home"
            class="py-2 px-6 text-lg font-medium rounded-lg transition duration-300 ease-in-out <%= activeTab === 'add-home' ? 'text-white bg-red-500' : 'text-white hover:bg-red-700 hover:bg-opacity-50' %>"
          >
            Add Home
          </a>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="flex items-center justify-center flex-grow pt-20">
      <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-7xl">
        <h1 class="text-4xl font-semibold text-red-500 mb-6 text-center">
          Here are our registered Homes
        </h1>

        <!-- Home Cards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <% registeredHomes.forEach(home => { %>
          <div
            class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
          >
            <img
              src="<%= home.photo %>"
              alt="<%= home.houseName %>"
              class="w-full h-40 object-cover rounded-lg mb-4"
            />
            <h2 class="text-xl font-semibold text-gray-800 mb-2">
              <%= home.houseName %>
            </h2>
            <p class="text-gray-600 mb-2">Location: <%= home.location %></p>
            <p class="text-gray-600 mb-2">
              Price per night: Rs.<%= home.price %>
            </p>
            <p class="text-gray-600 mb-2">Rating: <%= home.rating %> / 5</p>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="bg-gray-800 text-white p-4 text-center">
      <p>© 2024 Airbnb. All rights reserved.</p>
    </footer>
  </body>
</html>
